<form [formGroup]="form" (ngSubmit)="onSubmit(form, $event)">
  <h2 mat-dialog-title>{{title}}</h2>
  <mat-dialog-content>
    <mat-form-field class="full-width">
      <input matInput placeholder="项目名称" type="text" formControlName="name">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="项目描述" type="text" formControlName="desc">
    </mat-form-field>
    <app-img-list-select
      [useSvgIcon]="false"
      [cols]="6"
      [title]="'选择封面：'"
      [items]="thumbnails"
      formControlName="coverImg">
    </app-img-list-select>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">保存</button>
    <button mat-button mat-dialog-close>关闭</button>
  </mat-dialog-actions>
</form>
