<div class="task-lists">
  <app-task-list
    *ngFor="let list of (lists$ | async)"
    class="list-container"
    [appDraggable]="true"
    [draggedClass]="'drag-start'"
    [dragTag]="'task-list'"
    [dragData]="list"
    appDroppable
    [dragEnterClass]="'drag-enter'"
    [dropTags]="['task-item', 'task-list']"
    (dropped)="handleMove($event, list)"
    [ngStyle]="{'order': list.order}">
    <app-task-header
      [header]="list.name"
      (newTask)="lunchNewTaskDialog()"
      (moveAllTasks)="lunchCopyTasksDialog()"
      (deleteAllTasks)="lunchDeleteTasksDialog(list)"
      (updateListName)="lunchUpdateListNameDialog(list)">
    </app-task-header>
    <app-quick-task (quickTask)="handleQuickTask($event)"></app-quick-task>
    <app-task-item
      *ngFor="let task of list.tasks"
      [task]="task"
      (itemClick)="lunchUpdateTaskDialog(task)">
    </app-task-item>
  </app-task-list>
</div>

<button type="button" mat-fab class="fab-button" (click)="addNewTaskList($event)">
  <mat-icon>add</mat-icon>
</button>
