<form #f="ngForm" (ngSubmit)="onSubmit(f, $event)">
  <h2 mat-dialog-title>邀请组员:</h2>
  <mat-dialog-content>
    <app-chips-list [label]="'邀请成员'" name="members" [(ngModel)]="members"></app-chips-list>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button color="primary" [disabled]="!f.valid" type="submit">保存</button>
    <button mat-button mat-dialog-close>关闭</button>
  </mat-dialog-actions>
</form>

<mat-autocomplete #autoMembers="matAutocomplete" [displayWith]="displayMember">
  <mat-option *ngFor="let member of members" [value]="member.name">
    {{member.name}}
  </mat-option>
</mat-autocomplete>
